<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/header :: header"></div>
<body>
<div th:replace="admin/header :: navbar"></div>
<br /><br /><br /><br /><br /><br />
<div class="container">
  <div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Zarządzanie użytkownikami</h5>
            <a th:href="@{/admin/users}" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Zarządzanie książkami</h5>
            <a th:href="@{/admin/books}" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <a th:href="@{/admin/users}" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <a th:href="@{/admin/users}" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
