<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>



</head>
<body>
<h2>Book Details</h2>
<p><strong>Title:</strong> <span th:text="${bookDto.title}"></span></p>
<p><strong>Author:</strong> <span th:text="${bookDto.author}"></span></p>
<p><strong>Publication Year:</strong> <span th:text="${bookDto.publicationYear}"></span></p>
<p><strong>Genre:</strong> <span th:text="${bookDto.genre}"></span></p>
<p><strong>Description:</strong> <span th:text="${bookDto.description}"></span></p>
<p><strong>Star Rating:</strong> <span th:text="${bookDto.starRating}"></span></p>
<p><strong>Language:</strong> <span th:text="${bookDto.language}"></span></p>




<div th:if="${currentUser != null}">

        <a th:href="@{/book/edit/{bookId}(bookId=${bookDto.bookId})}">
            <button>Edit</button>
        </a>
        <a th:href="@{/book/delete/{bookId}(bookId=${bookDto.bookId})}">
            <button>Delete</button>
        </a>
        <a th:href="@{/file/files/{filename}(filename=${bookDto.hash})}">
            <button>Download</button>
        </a>
    </div>


<div class="card">
    <div class="card-header">
        <h2>Leave a comment</h2>
    </div>
    <div class="card-body">
        <form
                role="form"
                method="post"
                th:action="@{/{bookId}/addcomment(bookId=${bookId})}"
                th:object="${comment}"
        >




            <div class="row">
                <div class="col-md-9 mb-3">

                    <div class="form-group">

                        <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-5">
                    <button
                            class="btn btn-primary"
                            type="submit"
                    >
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<h2>Comments</h2>
<div th:if="${comments.isEmpty()}">
    <p>No comments available for this book.</p>
</div>
<div th:if="${not comments.isEmpty()}">
    <ul>
        <li th:each="comment : ${comments}">
            <p><strong>Comment:</strong> <span th:text="${comment.content}"></span></p>
            <div th:if="${currentUser != null}">
                
            <a th:href="@{/book/{bookId}/comment/edit/{commentId}(bookId=${bookDto.bookId}, commentId=${comment.id})}">
                <button>Edit Comment</button>
            </a>
            <a th:href="@{/book/{bookId}/comment/delete/{commentId}(bookId=${bookDto.bookId}, commentId=${comment.id})}">
                <button>Delete Comment</button>
            </a>
            </div>
        </li>
    </ul>
</div>















</body>
</html>
